.body {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: auto;
    /* Cambia la altura a automática para evitar el desplazamiento vertical */
    overflow: hidden;
    /* Oculta el desplazamiento vertical */
    font-family: Arial, Helvetica, sans-serif;
}

.paraghrp {
    padding: 1%;
    /* Añade un pequeño espacio alrededor del texto */
    margin: 3%;
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
    text-align: start;
    /* Justifica el texto para un aspecto más limpio */
}

.ModalCV {
    width: 100%;
    /* Ancho completo en dispositivos más pequeños */
    min-width: 200px;
    /* Ancho mínimo para evitar la compresión excesiva */
}

@media (min-width: 768px) {
    .ModalCV {
        width: 50%;
        /* Ancho reducido en pantallas más grandes */
    }

    .deletes,
    .createInputs {
        padding-top: 1%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        /* Usa margen para el espaciado */
    }
}