.body {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
}

@media screen and (min-width: 991px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        box-shadow: 1px 3px 30px #c2ccfd30, -8px -1px 2px #ffffffb8;
        border-radius: 5%;
    }
    .modal{
        background-color: red;
        z-index: 999;

    }
  
}