/* .body{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
} */

@media only screen and (max-width: 992px) {
    .body {
        /* background-color: red; */
        padding: 1%;
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .h1 {
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* display: none; */
    .logo2 {
        width: 50%;
        height: 50%;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .logo {
        width: auto;
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
    }

    .crud {

        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: center;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media only screen and (min-width: 992px) {
    .body {
        padding: 1%;
        padding-top: 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .todo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: start;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .logo2 {
        width: 50%;
        height: 50%;
        flex-shrink: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
    }

    .logo {
        width: auto;
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .crud {
        padding: 5%;
        padding-left: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .h1 {
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    .card{
      margin: 1%;
      box-shadow: 5px;  
    }

}