.body {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

@media screen and (max-width: 991px) {
    .body {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1), inset -1px -1px 10px rgba(255, 255, 255, 0.7);
        border-radius: 2px;
        overflow: auto;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 9999;
    }

    /* Estilos para la sección checkall */
    .checkall {
        padding: 1%;
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 2%;

        /* place-items: center; */
        /* Centra horizontal y verticalmente */
        border-radius: 2%;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1), inset -1px -1px 10px rgba(255, 255, 255, 0.7);

        box-shadow: 1px 13px 25px rgba(203, 206, 213, 0.4), -8px -1px 2px #fff;
    }

    /* Estilos para los elementos del cuerpo */
    .checkElement {}


    .bodyElements {
        /* padding: 1%; */
        display: grid;
        grid-template-columns: 1fr; /* Una columna en móviles */
        grid-gap: 1px;
        justify-content: space-evenly;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1), inset -1px -1px 10px rgba(255, 255, 255, 0.7);
        box-shadow: 1px 13px 25px rgba(203, 206, 213, 0.4), -8px -1px 2px #fff;
        /* color: #333333; */
        /* color: #666666; */
    }


}

@media screen and (min-width: 991px) {
    .body {
        padding: 1%;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(100px, 2fr)); */
        grid-gap: 10px 10px;
        justify-content: center;
        align-content: center;
        /* box-shadow: 1px 13px 25px rgba(203, 206, 213, 0.4), -8px -1px 2px #fff; */
        z-index: 9999;
        /* Superposición alta */
        border-radius: 2px;
    }

    /* Estilos para la sección checkall */
    .checkall {
        padding: 1%;
        display: grid;
        justify-content: center;
        align-content: center;

        /* place-items: center; */
        /* Centra horizontal y verticalmente */
        border-radius: 2%;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1), inset -1px -1px 10px rgba(255, 255, 255, 0.7);

        box-shadow: 1px 13px 25px rgba(203, 206, 213, 0.4), -8px -1px 2px #fff;
    }

    /* Estilos para los elementos del cuerpo */
    .checkElement {}


    .bodyElements {
        padding: 1%;
        display: grid;
        /* grid-template-columns: repeat(8fr, minmax(100px, 2fr)); */
        grid-template-columns: repeat(5, 5fr);

        grid-gap: 5px 5px;
        justify-content: space-evenly;
        border-radius: 2%;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1), inset -1px -1px 10px rgba(255, 255, 255, 0.7);
        box-shadow: 1px 13px 25px rgba(203, 206, 213, 0.4), -8px -1px 2px #fff;
        /* color: #333333; */
        /* color: #666666; */
    }







    .selects {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* padding-right: 1%;
        padding-left: 1%; */
        z-index: 999;

    }

    .input {
        margin-left: 2%;
        margin-right: 2%;
    }

    .buttons {

        display: flex;
        flex-wrap: nowrap;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 1%;
        /* box-shadow: 1px 3px 30px #c2ccfd30, -8px -1px 2px #ffffffb8; */
        border-radius: 5%;
        /* padding-right: 1%;
        padding-left: 1%; */
    }

    .button {
        padding-left: 9%;
        padding-right: 10%;
        /* box-shadow: 1px 3px 30px #c2ccfd30, -8px -1px 2px #ffffffb8; */
    }

    .buttonSend {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* Centra horizontalmente */
        align-items: center;
        /* Centra verticalmente */
        text-align: center;
        /* Asegura que el texto esté centrado */
        width: 100%;
        /* Asegura que el botón ocupe el 100% del ancho disponible */
        height: 50px;
        /* Altura fija del botón */
        color: white;
        /* Color del texto */
        border: none;
        /* Sin bordes */
        border-radius: 5px;
        /* Bordes redondeados */
        cursor: pointer;
        /* Cursor tipo mano para indicar que es clickeable */
        font-size: 16px;
        /* Tamaño del texto */
    }
}