@media only screen and (max-width: 992px) {
    .body {
        padding-top: 5%;
        /* margin-right: 1%;
        margin-left: 1%; */
        font-family: Arial, Helvetica, sans-serif;
      /* background-color:floralwhite; */


    }

    .container {
        padding-top: 1%;
        display: flex;
        flex-wrap: nowrap;
    }

    .stepscontainer {
        /* flex: 0 0 auto; */
        /* margin-right: 2px; */
        font-size: small;
        margin-left: 3%;
    }

    .componentcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: center;
        width: 245px;
        /* height: 67vh; */
         overflow-anchor: auto; 
        box-shadow: 0 10px 10px  #00000025;
        border-radius: 2%;
        font-size: small;

        @media (min-width: 768px) {
            max-width: 400px;
            /* Tamaño máximo para pantallas más grandes */
        }

 
    }

    .navigationcontainer {
        /* display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: start;
        align-content: center;
        font-size: small;
        overflow: auto; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        /* width: 65%; */
        height: 5vh;

    }
}


@media only screen and (min-width: 992px) {
    .body {
        padding-right: 1%;
        padding-left: 1%;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0 1px 10px #00000025;
        border-radius: 2%;
    }

    .container {
        padding-top: 1%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
    }

    .componentcontainer {

        display: flex;
        padding-left: 0%;
        justify-content: flex-end;
        align-content: center;
    }

    .navigationcontainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        /* width: 65%; */
        height: 5vh;
    }
}