.body {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
  .bodyTodo {
    /* padding: 1%;
    border-radius: 5%; */
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .div {
    padding: 0;
    padding-top: 0;
    padding-bottom: 3;
    padding-left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;

    margin-bottom: 2rem;
    border-collapse: separate;
    padding: 1rem;
    width: 450px;
    max-width: 95%;
    margin: 0 auto;
  }

  .div:hover {
    /* box-shadow: 0 1px 10px #000000a1; */
    transition: box-shadow 500ms;
  }
}

@media screen and (min-width: 991px) {
  .FloatButton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  
  .bodyTodo {
    /* padding: 1%;
    border-radius: 5%; */
  }

  .body {
    border-radius: 5%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

  }

  
  .div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    /* height: 85vh; */
    overflow: auto;
    flex-direction: row;
    /* padding: 10px; */
    /* Añadido padding */
    transition: box-shadow 1000ms;
    border-radius: 0 0 5% 5%;
    /* Aplicar radio de borde solo en la parte inferior */

  }
  .div:hover {
    box-shadow: 0 1px 10px #000000b8;
    /* transform: scale(1.0); */
    transition: box-shadow 1000ms;
  }
}