.body {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
  .bodyTodo {
    /* padding: 1%;
    border-radius: 5%; */
  }

  .div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    margin: 0 auto; /* Centra el contenedor */
    }

  .div:hover {
    box-shadow: 0 1px 10px #000000a1;
    transform: scale(1.0);
    transition: box-shadow 500ms;
  }
}

@media screen and (min-width: 991px) {
  .bodyTodo {
    /* padding: 1%;
    border-radius: 5%; */
  }
  
  .body {
    border-radius: 5%;
    margin: 2%;
  }

  .div:hover {
    box-shadow: 0 1px 10px #000000b8;
    /* transform: scale(1.0); */
    transition: box-shadow 1000ms;
  }

  .div {
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
    padding: 10px; /* Añadido padding */
    transition: box-shadow 1000ms;
    border-radius:  0 0 5% 5%; /* Aplicar radio de borde solo en la parte inferior */

  }
}