@media only screen and (max-width: 992px) {
    .body {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        width: 65%;
        height: 50vh;
        overflow: auto;
        flex-direction: column;
    }

    .inputs {
        padding: 3px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .body {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        width: 58%;
        height: 40vh;
        overflow: auto;
        flex-direction: column;
    }

    .inputs {
        padding: 3px;
        margin-top: 5px;
        
    }
}