@media only screen and (max-width: 992px) {
    .body {
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: auto;
        margin-bottom: 5%;

    }

    .inputsData {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        min-height: 15vh; /* Usa min-height en lugar de height */
        overflow: auto;
        flex-direction: row;
    }
    .inputs {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%; /* Anchura del 90% para adaptarse al contenedor */
    }
    .createInputs,
    .deletes {
        width: 100%;
        margin-top: 1rem; /* Espacio entre los botones y las entradas */
        
    }
}

@media only screen and (min-width: 992px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 97%;
        overflow: auto; /* Asegúrate de manejar el desbordamiento */
        padding: 0.5rem; /* Considera usar relleno para el espaciado */
    }

    .inputs {
        padding: 0.25rem;
        margin-top: 0.1rem;
        margin-left: 0.3rem;
        margin-bottom: 1rem;
    }

    .inputsData {
        display: flex;
        flex-wrap: wrap; /* Permite que las entradas se envuelvan si es necesario */
        justify-content: center; /* Distribuye las entradas de manera uniforme */
        align-items: center;
        width: 100%; /* Ajusta el ancho según sea necesario */
    }

    .titles {
        display: flex;
        justify-content: space-between; /* Distribuye los títulos de manera uniforme */
        align-items: center;
        margin-bottom: 1rem; /* Usa margen para el espaciado */
    }

    .deletes,
    .createInputs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem; /* Usa margen para el espaciado */
    }
}