@media screen and (max-width: 991px) {
    .generalheader{
        padding-bottom: 1%;
    }
    .presentation {
        padding-right: 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 30px;
        box-shadow: 1px 13px 25px #cbced1, -8px -1px 2px #fff;
    }
    .presentation {
        height: 0px;
        top: 0;     
        padding-left: 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: baseline;
        align-items: center;
        align-content: center;


        /* position: relative;
        top: 0;        
        z-index: 200; */

        
    }
    .icons{
        
    }
    .logo{
        width: 80%;
        height: 70%;
    }
    .IconProfile{
        padding-left: 89%;
        padding-top: 2%;
        position: fixed;
        top: 0;
        width: 15%;
        height: 20%;
        
    }
    .menu{
        padding-left: 5%;
        padding-top: 2%;
        width: 8%;
        height: 80%;
        border: 1px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex;
        align-items: center;
        align-content: center;

        position: relative;
        top: 0;        
        z-index: 100;

    }
    .menuIcon{
     
        width: 80%;
        height: auto;
     
    }

}

@media screen and (min-width: 991px) {
    .generalheader{
   
       
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center; 
        border-radius: 30px;
        box-shadow: 1px 13px 25px #cbced168, -8px -1px 2px #fff;
    }
    .presentation {
        padding-left: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        align-content: center;
    }
    .icons{
        
    }
    .logo{
        width: 60%;
        height: 70%;
    }
    .IconProfile{
        width: 8%;
        height: 70%;
    }
    .menu{
        padding-left: 2%;
        width: 5%;
        height: 60%;
        border: 1px;
        display: flex-;
        flex-wrap: nowrap;
        justify-content: end;
        align-items: center;
        align-content: center;
    }
    .menuIcon{
        width: 50%;
        height: 70%;
    }
}