@media only screen and (max-width: 992px) {
    .body {}

    .bodyTabs {
        width: 95%;
    }

}

@media only screen and (min-width: 992px) {
    .body {
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin: 0 auto;



    }

    .title {
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;

    }

    .buttonsGroupReturn {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;

    }

    .button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .bodyTreeAndComponent {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
        width: 1250;
        height: 80vh;
        overflow: auto;
        flex-direction: row;
        border-radius: 5%;
    }

    .tree {
        padding-top: 3%;
        padding-right: 5%;

        width: 300px;
        border-radius: 5%;
        overflow: hidden;
        /* Mantener el tamaño fijo */
    }

    .bodyTabs {
        display: flex;
        /* flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start; */
    }

    .createTabs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
        background-color: red;
    }

}