@media only screen and (max-width: 992px) {
    .body {
        padding: 1%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        width: 90%;
        height: 80vh;
        overflow: auto;
        flex-direction: column;
        overflow-y: auto;
    }

    .inputsData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem; /* Añade un espacio entre cada entrada */
    }

    .inputs {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        width: 90%; /* Anchura del 90% para adaptarse al contenedor */
    }

    .createInputs,
    .deletes {
        width: 100%;
        margin-top: 1rem; /* Espacio entre los botones y las entradas */
    }
    .selects{
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 97%;
        overflow: auto; /* Asegúrate de manejar el desbordamiento */
        padding: 1rem; /* Considera usar relleno para el espaciado */
    }

    .inputs {
        padding: 0.25rem;
        margin-top: 0.1rem;
        margin-left: 0.3rem;
        margin-bottom: 1rem;
    }

    .inputsData {
        display: flex;
        flex-wrap: nowrap; /* Permite que las entradas se envuelvan si es necesario */
        justify-content: center; /* Distribuye las entradas de manera uniforme */
        align-items: center;
        width: 100%; /* Ajusta el ancho según sea necesario */
    }

    .titles {
        display: flex;
        justify-content: space-between; /* Distribuye los títulos de manera uniforme */
        align-items: center;
        margin-bottom: 1rem; /* Usa margen para el espaciado */
    }

    .deletes,
    .createInputs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem; /* Usa margen para el espaciado */
    }
    .selects{
        width: 50%;
    }
}