.body {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

    }
}

@media screen and (min-width: 991px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        border-radius: 100%;
        transition: box-shadow 500ms; /* Transición aplicada en estado normal */

    }
    .body:hover {
        box-shadow: 0 1px 10px #000000c5;
        transform: scale(1.5);
        transition: box-shadow 500ms;
      }
  
}