/* persondescription.module.css */

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 992px) {
    .modal {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .titles {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* margin-bottom: 1rem; */
                padding-left: 5%;

        margin: 0 auto;

    }
    .body {
        display: flex;
        flex-wrap: wrap;
        /* Cambiado de nowrap a wrap */
        justify-content: flex-start;
        /* Alineado a la izquierda */
        align-items: flex-start;
        align-content: flex-start;
        width: 80%;
        height: auto;
        margin: 0 auto;
        /* Centra el contenedor */
        padding-top: 1%;
        padding-button: 1%;
    }

    .inputs {
        padding: 0.1rem;
        margin: 0.1rem 0.1rem;
        /* Espacio entre elementos */
    }

    .inputsData {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        overflow-y: scroll;
    }

    .bodyShow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Adjust as needed */

        padding: 0;
        padding-top: 1%;
        padding-bottom: 4%;
        padding-left: 5%;
        
        width: 88%;
        /* overflow: auto;
        flex-direction: column;
        overflow-y: auto; */
    }

    .inputsDataShow {
        width: 88%;

    }

      
      .card {
        /* Card styling */
      }
      
      .cardItem {
        display: flex;
        margin-bottom: 10px; 
      }
      
      .cardLabel {
        font-weight: bold;
        margin-right: 5px; 
      }





}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 992px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 97%;
        overflow: auto;
        padding: 1rem;
        margin: 0 auto;
        /* Centra el contenedor */
    }

    /* .inputs {
        padding: 0.25rem;
        margin-top: 0.1rem;
        margin-left: 0.3rem;
        margin-bottom: 1rem;
    } */

    .inputsData {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        /* Alineado a la izquierda */
        align-items: center;
        /* Centra verticalmente */
        width: 100%;
        overflow-y: auto;
        padding: 1rem;


    }


    .titles {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* margin-bottom: 1rem; */
        margin: 0 auto;

    }

    .td {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        margin: 0 auto;


    }



    .deletes,
    .createInputs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
    }

    .bodyShow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 97%;
        overflow: auto;
        padding: 1rem;
        margin: 0 auto;
        /* Centra el contenedor */
    }

    .inputsDataShow {
        margin: 0 auto;

    }


}