.body {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    .selects {
        /* padding: 1%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 1px 3px 30px #c2ccfd30, -8px -1px 2px #ffffffb8;
        border-radius: 5%;
        z-index: 999;
        width: 80%;
    }

    .inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 80%;



    }
}

@media screen and (min-width: 991px) {
    .body {
        margin: 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        border-radius: 5%;
        box-shadow: 1px 3px 30px #c2ccfd1f, -8px -1px 2px #ffffff5d;

        z-index: 9999;
        /* Valor alto de z-index para superponer sobre todo */

    }

    .selects {
        /* padding: 1%; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 1px 3px 30px #c2ccfd30, -8px -1px 2px #ffffffb8;
        border-radius: 5%;
        z-index: 999;
        width: auto;
    }
    .selects.flex-wrap-small {
        flex-wrap: wrap;
    }
    

    .custom_select {
        position: relative;
        display: inline-block;
        width: 161px;
        height: 100%;
        /* padding: 5px 8px; */
        border: 1px solid #ffffff58;
        border-radius: 1px;
        background-color: #ffffff43;
        cursor: pointer;
        outline: none;


        font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
        /* Use a similar font */
        font-size: 14px;
        /* Match Ant Design's default font size */
        line-height: 1.5;
        /* Match Ant Design's default line height */
        color: #605f5f;
        /* Match Ant Design's default text color */
        padding: 0 12px;
        /* Adjust padding to match Ant Design */
    }

    .custom_select select {
        width: 100%;
        height: 100%;
        appearance: none;
        /* Hide default select arrow */
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;


        font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
        /* Use a similar font */
        font-size: 14px;
        /* Match Ant Design's default font size */
        line-height: 1.5;
        /* Match Ant Design's default line height */
        color: #484747;
        /* Match Ant Design's default text color */
        padding: 0 12px;
        /* Adjust padding to match Ant Design */
    }

    .custom_select:hover {
        border-color: #c6c6c6b8;
        border-radius: 5%;
        background-color: #605f5f18;
        border-left: 2px solid #99999969;
        border-top: 2px solid #9999995c;
        border-radius: 5%;
        box-shadow: 1px 3px 30px #c2ccfd30, -8px -1px 2px #ffffffb8;


    }

    .custom_select.focused {
        border-color: #8c8c8c10;
    }

    .custom_select .select-arrow {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-left: 2px solid #99999969;
        border-top: 2px solid #9999995c;
        transform: rotate(45deg);
        transition: transform 0.2s ease-in-out;
        border-radius: 5%;
    }

    .custom_select:hover .select_arrow {
        transform: rotate(135deg);
    }


    .custom_select.open {
        /* New style for open state */
        background-color: #f0f0f089;
        /* Background color for open state */
        border-color: #c6c6c6b4;
        /* Border color for open state */
        border-radius: 5%;

    }

    .custom_select.open .option:hover {
        /* New style for hovered option */
        background-color: #e6e6e6cc;
        /* Background color for hovered option */
        border-radius: 5%;

    }

    .custom_select option:checked {
        color: #605f5f;
        background-color: transparent !important;
        border-radius: 5%;
    }

    .inputs {
        width: 150px;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-radius: 5%;
        color: #605f5f;
        padding-bottom: 1%;


    }
}
@media (max-width: 800px) {
    .selects {
        width: calc(100vw - 20px); /* Ancho de la ventana menos 20px de margen */
    }
}