/* persondescription.module.css */

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 992px) {
    .modal {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .titles {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* margin-bottom: 1rem; */
        padding-left: 5%;

        margin: 0 auto;

    }

    .body {
        display: flex;
        flex-wrap: wrap;
        /* Cambiado de nowrap a wrap */
        justify-content: flex-start;
        /* Alineado a la izquierda */
        align-items: flex-start;
        align-content: flex-start;
        width: 80%;
        height: auto;
        margin: 0 auto;
        /* Centra el contenedor */
        padding-top: 1%;
        padding-button: 1%;
    }

    .inputs {
        padding: 0.1rem;
        margin: 0.1rem 0.1rem;
        /* Espacio entre elementos */
    }


    .inputsData {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        overflow-y: scroll;
    }

    .bodyShow {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        /* Adjust as needed */

        padding: 0;
        padding-top: 1%;
        padding-bottom: 4%;
        padding-left: 5%;

        width: 88%;
        /* overflow: auto;
        flex-direction: column;
        overflow-y: auto; */
    }

    .inputsDataShow {
        width: 88%;

    }


    .card {
        /* Card styling */
    }

    .cardItem {
        display: flex;
        margin-bottom: 5px;
    }

    .cardLabel {
        font-weight: bold;
        margin-right: 5px;
    }



    /* Estilos adicionales para la tabla */
    .bodyShowTable table {
        border-collapse: collapse;
        width: 100%;
        /* Asegura que la tabla ocupe todo el ancho disponible */
        border-radius: 10px;
        /* Ajusta el radio del borde para una apariencia de calidad */
        overflow: hidden;
        /* Oculta el contenido que excede el tamaño de la tabla */
    }

    .bodyShowTable th,
    .bodyShowTable td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        /* Agrega bordes inferiores a las celdas */
        text-align: left;
        /* Alinea el texto a la izquierda */
    }

    .bodyShowTable th {
        background-color: #f2f2f2;
        /* Color de fondo para las celdas de encabezado */
    }

    /* Estilo para las filas impares */
    .bodyShowTable tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .tableWrapper {
        width: 373px;
        overflow-x: hidden;
        overflow-y: hidden;
        max-width: 100%;
        margin-bottom: 1rem;
        /* Ajusta según tus necesidades */
        display: flex;
        /* Use flexbox for better centering */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
        /* Adjust padding values as needed */
        /* OR */
        margin: 5px;
    }

}

@media only screen and (max-width: 600px) {

    /* Estilos específicos para pantallas pequeñas aquí */
    .tableWrapper {
        /* width: 380px;
        overflow-x: auto; */
        /* grid-template-columns: 340px;
        grid-template-rows: 100px; */
        overflow-x: hidden;
        /* Remove horizontal scroll */
        overflow-y: hidden;
        /* Maintain overflow control (optional) */
        max-width: 100%;
        margin-bottom: 1rem;

        display: flex;
        /* Use flexbox for better centering */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}



/* Estilos para pantallas más grandes */
@media only screen and (min-width: 992px) {
    .body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 97%;
        overflow: auto;
        padding: 1rem;
        margin: 0 auto;
        /* Centra el contenedor */
    }

    /* .inputs {
        padding: 0.25rem;
        margin-top: 0.1rem;
        margin-left: 0.3rem;
        margin-bottom: 1rem;
    } */

    .inputsData {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        /* Alineado a la izquierda */
        align-items: center;
        /* Centra verticalmente */
        width: 100%;
        overflow-y: auto;
        padding: 1rem;


    }


    .titles {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* margin-bottom: 1rem; */
        margin: 0 auto;

    }

    .td {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        margin: 0 auto;


    }



    .deletes,
    .createInputs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
    }

    .bodyShow {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 97%;
        overflow: auto;
        padding: 1rem;
        margin: 0 auto;
        /* Centra el contenedor */
    }

    .inputsDataShow {
        margin: 0 auto;

    }

    .table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        overflow-x: auto;
        overflow: hidden;

    }

    .bodyShowTable th,
    .bodyShowTable td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .bodyShowTable th {
        background-color: #f2f2f2;
    }

    .bodyShowTable tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }


}