@media only screen and (max-width: 992px) {
    .body{
        padding-top: 20%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }
}
@media only screen and (min-width: 992px) {
}